@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

.welcome-text {
	width: 100%;
	padding-left: 15%;
	text-align: left;
	visibility: hidden;
	font-size: 30px;
	color: white;
}
		
/*Header & Footer Section*/
		/*===== GOOGLE FONTS =====*/
		@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
		/*===== VARIABLES CSS =====*/
		:root{
		  --header-height: 3rem;
		  --font-semi: 600;
		}
		
		/*===== Colors =====*/
		:root{
		  --first-color: #4070F4;
		  --second-color: white;
		}
		
		/*===== Margins =====*/
		:root{
		  --mb-1: 0.5rem;
  		  --mb-2: 1rem;
  		  --mb-3: 1.5rem;
  		  --mb-4: 2rem;
  		  --mb-5: 2.5rem;
  		  --mb-6: 3rem;
		}
		
		ul{
		  margin: 0;
		  padding: 0;
		  list-style: none;
		}
		a{
		  text-decoration: none;
		}
		
		
		/*===== LAYOUT =====*/
		.bd-grid{
		  max-width: 100%;
		  display: grid;
		  grid-template-columns: 100%;
		  grid-column-gap: 2rem;
		  padding-left: 5%;
		  padding-right: 5%;
		}
		.l-header{
		  width: 100%;
		  position: fixed;
		  top: 0;
		  left: 0;
		  z-index: 100;
		  box-shadow: 0 1px 4px rgba(146,161,176,.15);
		}
		
		/*===== NAV =====*/
		.nav{
		  height: var(--header-height);
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  font-weight: var(--font-semi);
		  background-color: #2b2b2b;
		}
		@media screen and (max-width: 768px){
		  .nav__menu{
		    position: fixed;
		    top: var(--header-height);
		    right: -100%;
		    width: 40%;
		    height: 100%;
		    padding: 2rem;
		    transition: .5s;
		    background-color: #2b2b2b;
		  }
		}
		.nav__item{
		  margin-bottom: var(--mb-4);
		}
		.nav__link{
		  position: relative;
		  color: #fff;
		}
		.nav__link:hover{
		  position: relative;
		}
		.nav__link:hover::after{
		  position: absolute;
		  content: "";
		  width: 100%;
		  height: 0.18rem;
		  left: 0;
		  top: 2rem;
		  background-color: var(--first-color);
		}
		.nav__logo{
		  color: var(--second-color);
		}
		.nav__toggle{
		  color: var(--second-color);
		  font-size: 1.5rem;
		  cursor: pointer;
		}
		
		/*Active menu*/
		.active::after{
		  position: absolute;
		  content: "";
		  width: 100%;
		  height: 0.18rem;
		  left: 0;
		  top: 2rem;
		  background-color: var(--first-color);
		}
		
		/*=== Show menu ===*/
		.show{
		  right: 0;
		}
		
		/* ===== FOOTER =====*/
		.footer{
		  text-align: center;
		  font-weight: var(--font-semi);
		  padding: 2rem 0;
		  color: white;
		}
		.footer__title{
		  font-size: 2rem;
		  margin-bottom: var(--mb-4);
		}
		.footer__social{
		  margin-bottom: var(--mb-4);
		}
		.footer__icon{
		  font-size: 1.5rem;
		  color: #fff;
		  margin: 0 var(--mb-2)
		}
		
		/* ===== MEDIA QUERIES=====*/
		@media screen and (min-width: 768px){
		  .nav{
		    height: calc(var(--header-height) + 1rem);
		    background-color: #2b2b2b;
		  }
		  .nav__list{
		    display: flex;
		    padding-top: 0;
		  }
		  .nav__item{
		    margin-left: var(--mb-6);
		    margin-bottom: 0;
		  }
		  .nav__toggle{
		    display: none;
		  }
		  .nav__link{
		    color: var(--second-color);
		  }
		}
		
		@media screen and (min-width: 1024px){
		  .bd-grid{
		    margin-left: auto;
		    margin-right: auto;
		  }
		}






.resume{
	width: 70%;
	background: #fff;
	margin: 25px auto;
	display: flex;
}

@media screen and (min-width: 750px) {
.left{
	padding: 0 20px;
  }
}

@media screen and (max-width: 750px) {
.left{
	padding: 0px;
  }
}

.left{
	background: #2b2b2b;
	width: 250px;
}

.right{
	width: auto;
}

.left .img_holder{
	text-align: center;
	padding: 20px 0;
}

.left .img_holder img{
	width: 200px;
	border-radius: 30px;
}

.pb{
	padding-bottom: 20px;
}

.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #4070F4;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.resume_title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #3525af;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: #3525af;
}
.resume_title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: #3525af;
}

.left .icon{
	font-size: 20px;
	color: #9153c9;
}

.left .text{
	color: #9153c9;
	text-transform: uppercase;
	font-size: 13px;
}

.contact .li_wrap{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}

.contact .li_wrap .icon{
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.contact .li_wrap .text{
	width: calc(100% - 50px);
	word-break: break-word;
	color: #fff;
}

.skills ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills .li_wrap{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



.skills .li_wrap{
	border: 2px solid #fff;
}

.skills .li_wrap .icon,
.skills .li_wrap .text{
	color: #fff;
}

.skills .li_wrap:hover{
	background: #fff;
}

.skills .li_wrap:hover .icon,
.skills .li_wrap:hover .text{
	color: #9153c9;
}

.header{
	background: #292b2f;
	padding: 15px 30px;
	color: #fff;
	height: 240px;
}

.header .name{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
	color: #4070F4;
}


.header .role{
	font-weight: 300;
	font-size: 20px;
}

.header .about{
	margin-top: 20px;
	line-height: 26px;
}

.right_inner{
	padding: 30px;
	color: #292b2f;
}

.right_inner .education{
	margin-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color: #9153c9;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #9153c9;
}

.right_inner .li_wrap .info_resume_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #9153c9;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #9153c9;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: #9153c9;
}


@media screen and (max-width: 750px) {
  .title, .resume, .navbar {   
    flex-direction: column;
    width: auto;
  }
}

@media screen and (max-width: 750px) {
  .left {   
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .welcome-text {   
  	padding-top: 15%;
    padding-left: 0px;
    visibility: visible;
	text-align: center;
  }
}

@media screen and (max-width: 945px) {
.right, .header{
	width: auto;
  }
}

@media screen and (max-width: 945px) {
.resume{
	width: auto;
  }
}


/*background gradience animation*/

body {
	font-family: 'Ubuntu', sans-serif;
	background-image: linear-gradient(125deg, Black, #494949);
	background-size: 400%;
	animation: bganimation 15s infinite;
}

@keyframes bganimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
