* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1180px;
	margin: auto;
}
header {
	height: 220vh;
	position: static;
}
.nav-area {
	right: 0;
	list-style: none;
	top: 0px;
	margin-top: 30px;
	position: fixed;
	float: right;
	float: top;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 100px;
	height: 100px;
	padding: 25px 0;
}



.welcome-text {
	position: relative;
	width: 600px;
	height: 300px;
	margin: 15% 30%;
	text-align: center;
	color: white;
}

.welcome-text h2{
	margin-bottom: 50px;
}








/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}

	.nav-area {
		float: none;
		margin-top: 0;
	}

	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}

/*background gradience animation*/
body{
  font-family: "montserrat";
  background-image: linear-gradient(125deg,Black,#494949);  background-size: 400%;
  animation: bganimation 15s infinite;
}

@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 60px;
  height: 60px;
}
